<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="/css/background.css">
    <link rel="stylesheet"href="/css/backgwrite.css">
</head>
<body>  
        <div id="container">
            <div class="top-bar">
                <p class="top-tag">메인</p>
                <p class="top-tag">로그인</p>
                <p class="top-tag">회원가입</p>
                <p class="top-tag">게시판</p>
            </div>
            <div class="bottom-bar"> 
                

                </div>
 
     
    </div>
        
      
    
</body>
</html>