<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="/css/background.css">
    <link rel="stylesheet"href="/css/backgwrite.css">
</head>
<body>  
        <div id="container">
            <div class="top-bar">
                <a class="top-tag"href="#">메인</a>
                <a class="top-tag"href="#">로그인</a>
                <a class="top-tag"href="#">회원가입</a>
                <a class="top-tag"href="#">게시판</a>
            </div>
            <div class="bottom-bar"> 
                

                </div>
 
     
    </div>
        
      
    
</body>
</html>